@charset "UTF-8";
body {
    
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.styled-button {
    background-color: #007bff;
    color: white; /* White text */
    font-size: 15px;
    font-weight: bold;
    padding: 12px 15px;
    border: none;
    border-radius: 10px; /* Rounded corners */
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth hover effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.styled-button:hover {
    background-color: #0056b3; /* Darker green on hover */
    transform: translateY(-2px); /* Slight lift effect */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.styled-button:focus {
    outline: none;
    box-shadow: 0 0 8px #4caf50; /* Focus glow */
}